nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
packaging
pillow
psutil
pydantic
pydantic_core
PyYAML
regex
requests
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
sniffio
starlette
sympy
threadpoolctl
tokenizers
torch
tqdm
transformers
triton
#typing-inspection
#typing_extensions
urllib3
uvicorn
